In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("/content/data.csv", encoding='latin1')
print(df.head())

   stn_code       sampling_date           state   location agency  \
0     150.0  February - M021990  Andhra Pradesh  Hyderabad    NaN
1     151.0  February - M021990  Andhra Pradesh  Hyderabad    NaN
2     152.0  February - M021990  Andhra Pradesh  Hyderabad    NaN
3     150.0     March - M031990  Andhra Pradesh  Hyderabad    NaN
4     151.0     March - M031990  Andhra Pradesh  Hyderabad    NaN

                                 type  so2   no2  rspm  spm  \
0  Residential, Rural and other Areas  4.8  17.4   NaN  NaN
1                     Industrial Area  3.1   7.0   NaN  NaN
2  Residential, Rural and other Areas  6.2  28.5   NaN  NaN
3  Residential, Rural and other Areas  6.3  14.7   NaN  NaN
4                     Industrial Area  4.7   7.5   NaN  NaN

  location_monitoring_station  pm2_5        date
0                         NaN    NaN  1990-02-01
1                         NaN    NaN  1990-02-01
2                         NaN    NaN  1990-02-01
3                         NaN    NaN  1990-03-01
4                         NaN    NaN  1990-03-01

In [5]:
x = df['no2'].dropna().values

In [6]:
roll_no = 102316094
ar = 0.05*(roll_no % 7)
br = 0.3*((roll_no %5) +1)

z = x + ar*np.sin(br*x)

In [9]:
mu = np.mean(z)
sigma = np.var(z)
lambda_ = 1/ (2*sigma)
c = np.sqrt(lambda_ / np.pi)

In [10]:
print(f"Estimated parameters :\n mu = {mu}\n lambda = {lambda_}\n c = {c}")

Estimated parameters :
 mu = 22.675341923478776
 lambda = 0.0021294365683539275
 c = 0.026034990142274693